@font-face {
  font-family: "SFMedium";   /*Can be any text*/
  src: local("SFProDisplayMedium"),
    url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}
@font-face {
  font-family: "SFLight";   /*Can be any text*/
  src: local("SFProDisplayMedium"),
    url("./fonts/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
  font-family: "SFBold";   /*Can be any text*/
  src: local("SFProDisplayMedium"),
    url("./fonts/SFProDisplayBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas";   /*Can be any text*/
  src: local("SFProDisplayMedium"),
    url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

.App {
  background-color: #FFFFF9;
  height: 100vh;
  
}

*{
  margin: 4px;
  padding: 0;
  box-sizing: border-box;
}




